
.container1 {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: auto;
    margin-top: 20px;   
    background-color: rgba(0, 0, 0, 0.096);
    padding: 20px;
    border-radius: 20px;
}

.is-right {
    justify-content: end;
}

.is-left {
    justify-content: start;
}

.image1 {
    width: 500px;
    border-radius: 8px;
}

.textpresentation {
    background-color: rgba(31, 31, 31, 0.459);
    border-radius: 8px;
    padding: 10px;
    height: 100px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.6);
    align-self: center;
}
.body{ 
    font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}
